# The file needs to be executable to load, otherwise it is disabled
function loadFile() {
  local FILE="${1}"

  if [[ -x "$FILE" ]]; then
    source "${FILE}"
  fi
}

function fetchGithubVersion() { 
  local X=$(curl -Ls "https://api.github.com/repos/${1}/releases/latest" | jaq '.tag_name')
  echo $(removeFirstAndLast "${X}")
}

function removeFirstAndLast() {
  local X="${1}"
  X="${X::-1}"
  echo "${X:1}"
}

export RUN_ENV=development
export RUST_BACKTRACE=0
export LEPTOS_TAILWIND_VERSION="$(fetchGithubVersion 'tailwindlabs/tailwindcss')"
export LEPTOS_SASS_VERSION="$(fetchGithubVersion 'sass/dart-sass')"

loadFile "./.envrc.local.sh"
